
@model SchoolDatabase.Models.Teacher

@{
    ViewBag.Title = "AJAX UPDATE";
}
@{

    /*
    This file uses a combination of server rendering and ajax logic.
    - Server Rendering to pull current information about the teacher and display in fields
    - Request to update teacher with new values is fulfilled by ajax
    */
}

<div>
    <nav>
        <a href="/Teacher/List">Back To Teachers</a>
    </nav>
    <h2>Update @Model.TeacherFname @Model.TeacherLname</h2>
    @{
        /* AJAX Request to update teacher */
        /* No form submission needed */
        /* button onclick will handle form submission */
        /* Each item has an ID for validation && ajax submission */

    }
    <div>
        <label for="TeacherFname">First Name:</label>
        <input type="text" id="TeacherFname" name="TeacherFname" value="@Model.TeacherFname">
    </div>
    <div>
        <label for="TeacherLname">Last Name:</label>
        <input type="text" id="TeacherLname" name="TeacherLname" value="@Model.TeacherLname">
    </div>
    <div>
        <label for="EmployeeNumber">Employee Number:</label>
        <input type="text" id="EmployeeNumber" name="EmployeeNumber" value="@Model.EmployeeNumber">
    </div>
    <div>
        <label for="HireDate">Hire Date:</label>
        <input type="date" id="HireDate" name="HireDate" value="@Model.HireDate">
    </div>
    <div>
        <label for="Salary">Salary:</label>
        <input type="text" id="Salary" name="Salary" value="@Model.Salary">
    </div>

    @{
        //updateTeacher() is a JS method defined in /Scripts/scripts.Update.js
    }
    <div>
        <button onclick="updateTeacher();">Update</button>
    </div>
</div>